html, body {
  color: rgb(52, 55, 65);
  line-height: 26px;
  font-family: Inter, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.section {
  margin-bottom: 80px;
}

div.example {
  margin-left: 100px;
  max-width: 750px;
  margin-top: 56px;
}

div#typography {
  max-width: 1000px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Mierb, Inter, arial, sans-serif;
  color: black;
}
h1 {
  font-size: 40px;
  line-height: 50px;
}
h2 {
  font-size: 32px;
  line-height: 40px;
}
h3 {
  font-size: 24px;
  line-height: 28px;
}
h4 {
  font-size: 18px;
  line-height: 28px;
}
h5 {
  font-size: 16px;
  line-height: 26px;
}

h6.subhead {
  font-size: 16px;
  line-height: 26px;
  font-style: italic;
}

h6.topic-heading {
  color: #98a2b3;
  font-size: 12px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

ul {
  padding-left: 14px;
}

ol {
  padding-left: 2ch;
}

.blockquote {
  font-style: italic;
  padding-left: 27px;
  border-left: 3px solid #019b8f;
  max-width: 750px;
}

.blockquote p.source {
  font-weight: bold;
}

a {
  color: #0077cc;
}

.inset {
  max-width: 750px;
  padding: 20px;
  background-color: #f2f5f7;
}

.inset :first-child {
  margin-top: 0;
}

.inset :last-child {
  margin-bottom: 0;
}

ul li,
ol li {
  margin-bottom: 8px;
}

ul li::marker {
  color: #00857f;
}

code {
  color: black;
  font-family: Roboto Mono, monospace;
  /* margin-right: 8px; */
  /* margin-left: 8px; */
}

/* Use for single-term values that we don't want to wrap within, but
which otherwise might, like `/` */
code.literal {
  white-space: nowrap;
}

dt {
  margin-top: 40px;
}

dd {
  margin-top: 16px;
  margin-left: 0;
}

.bold {
  font-weight: bold;
}

.product-logo {
  height: 32px;
  width: 32px;
  margin-right: 16px;
}

div#typo-main {
  /* For typography page only */
  margin-top: 75px;
  margin-left: 200px;
}

div#main {
  display: flex;
  min-height: 100%;
}

div#left-nav {
  display: none;
}

div#content {
  flex: auto;
  padding-left: 40px;
  padding-right: 40px;
}

/* Use this when the background for a section needs to expand the full width */
div.section-bg {
  margin-left: -40px;
  margin-right: -40px;
  padding-left: 40px;
  padding-right: 40px;
}

div.main-content {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

div.hero-bg {
  background-color: #0080d5;
  display: flex;
  background-image: url("img/bg-bottom-right.svg"), url("img/bg-top-left.svg");
  background-position: 100% 100%, 0px 0px;
  background-size: auto, auto;
  background-repeat: no-repeat, no-repeat;
}

div.hero-contents {
  height: 100%;
  display: flex;
  margin-top: 72px;
  margin-bottom: 72px;
  align-items: center;
}

div.hero-copy-container {
  min-width: 320px;
  max-width: 500px;
  margin-right: 80px;
  flex: 0 auto;
}

div.hero-copy-container * {
  color: #ffffff;
}

div#hero-img-wrapper {
  min-width: 300px;
  max-width: 500px;
}

img#hero-img {
  /* min-width: 200px; */
  max-width: 100%;
}

div.landing-section {
  padding-top: 80px;
  padding-bottom: 20px;

}

div.alt-bg {
  background-color: #F5F7FA;
}

div.cta-row {
  display: flex;
  /* Bump these out 15px so the card padding brings it back to even */
  margin-left: -15px;
  margin-right: -15px;
  flex-wrap: wrap;
}

div.cta-card {
  padding-top: 16px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

p.cta-text {
  font-size: 14px;
  line-height: 24px;
}

div.cta-card:not(:last-child) {
  border-right: 1px solid rgb(212, 218, 229)
}


/* TODO: It's not animating */
.cta-link::after {
  pointer-events: none;
  content: "";
  width: 0px;
  height: 0px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  left: 8px;
  border-style: solid;
  border-width: 5.5px 0px 5.5px 5.5px;
  border-color: transparent transparent transparent rgb(0, 119, 204);
  transform: rotate(360deg);
  transition: left 300ms ease-in-out 0s;
}

.text-center {
  text-align: center !important;
}

.stack-diagram-row {
  display: flex;
  align-items: center;
}

.stack-diagram-label{
  color: #343741;
  font-family: Mierb, Inter, arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-align: left;
  text-transform: uppercase;
  width: 120px;
}

.stack-diagram-card {
  padding: 32px;
  flex-grow: 1;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #D4DAE5;
  margin: 20px;

  color: #000000;
  font-family: Mierb, Inter, arial, sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}


.stack-diagram-card:hover {
  box-shadow: 0 2px 6px 0 rgba(152, 162, 179, 0.25), 0 10px 20px 0 rgba(21, 42, 78, 0.15);
  border: 1px solid #ffffff;
  color: #0077CC;
}

.solutions {
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  margin-top: 56px;
}

.solution {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 33%;
}

.solution-header {
  display: flex;
  margin-bottom: 16px;
}

.solution-row {
  border-bottom: 1px solid #d4dae5;
  flex-wrap: wrap;
  padding: 16px;
}

.solution a {
  text-decoration: none;
  color: #000;
}

.solution a:hover {
  text-decoration: none;
}

.solution-row p {
  margin-bottom: 0px;
  flex-wrap: wrap;
}

.solution-row:hover {
  box-shadow: 0 2px 6px 0 rgba(152, 162, 179, 0.25), 0 10px 20px 0 rgba(21, 42, 78, 0.15);
  background-color: #ffffff;
  cursor: pointer;
  color: #000;
  text-decoration: none;
}

.solution-row:hover h4 {
  color: #0077CC;
}

.clouds {
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  margin-top: 56px;
}

.cloud {
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin-left: 2%;
  width: 31%;
  border: 1px solid #D4DAE5;
}

.cloud p {
  color: #343741;
  font-family: Inter;
  font-size: 12px;
  line-height: 26px;
  margin-left: 48px;
  text-align: left;
}

.cloud h3 {
  color: #000000;
  font-family: MierB;
  font-size: 16px;
  line-height: 26px;
  text-align: left;
  font-weight: bold;
}

.beta
{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #F5F7FA;
  border-radius: 20px;
  width: 90%;
  padding: 10px 0px 10px 0px;
}

.beta span {
  font-family: 'Mierb demi', sans-serif;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.beta p {
  display: inline;
  color: #343741;
  font-family: Inter;
  font-size: 14px;
  line-height: 24px;
  width: 558px;
  text-align: left;
}

.get-started {
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  margin-top: 56px;
}

.get-started-col {
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin-left: 2%;
  width: 31%;
}

.get-started-col:hover {
  box-shadow: 0 2px 6px 0 rgba(152, 162, 179, 0.25), 0 10px 20px 0 rgba(152, 162, 179, 0.15);
  text-decoration: none;
}

.get-started-col h3 {
  color: #000000;
  font-size: 16px;
  line-height: 28px;
  width: 345px;
  text-align: left;
  padding:15px 10px 0px 0px;
}

.get-started-col h3:hover {
  cursor: pointer;
  text-decoration: none;
}

.get-started-col p {
  color: #343741;
  font-family: Inter;
  font-size: 12px;
  line-height: 26px;
  width: 345px;
  text-align: left;
}

.get-started-col p:hover {
  text-decoration: none;
  color: #343741;
}

.get-started-img {
  width: 100%;
  height: 160px;
  background-color: #00bfb3;
}

.sitemap {
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  margin-top: 56px;
}

.sitemap-col {
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin-left: 2%;
  width: 31%;
}

@media (min-width: 769px) {
  div#left-nav {
    display: flex;
    min-width: 280px;
    max-width: 320px;
    border-right: 1px solid #D4DAE5;
    flex: none;
    /* Stand-in for search box */
    border-top: 80px solid #F5F7FA;
    box-sizing: border-box;
  }
}
